* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #111;
    /* transition: 0.5s; */
}

#toggle {
    display: relative;
    display: block;
    width: 360px;
    height: 160px;
    border-radius: 160px;
    background-color: #222;
    transition: 0.5s;
    box-shadow: inset 0px 8px 60px rgba(0, 0, 0, 0.1),
                inset 0px -8px 8px rgba(0, 0, 0, 0.1),
                inset 0px -4px 4px rgba(0, 0, 0, 0.1);
}

body.active {
    background-color: #fff;
}
#toggle.active {
    background-color: #fff;
    box-shadow: inset 0px 2px 60px rgba(0, 0, 0, 0.1),
                inset 0px 2px 8px rgba(0, 0, 0, 0.1),
                inset 0px -4px 8px rgba(0, 0, 0, 0.1);
}
#toggle .indicator {
    position: absolute;
    width: 160px;
    height: 160px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius:50%;
    transform: scale(0.9);
    cursor: pointer;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
                inset 0 4px 4px rgba(255, 255, 255, 0.52),
                inset 0 -4px 4px rgba(255, 255, 255, 0.1);
    transition: 0.5s;

    
}

#toggle.active .indicator {
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    right: 500px;
    box-shadow: inset 0px 8px 40px rgba(0, 0, 0, 1),
                inset 0px -8px 8px rgba(255, 255, 255, 1),
                inset 0px -4px 4px rgba(255, 255, 255, 1);
}